.experience {
    position: relative;
    padding-top: 90px;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;

    .exp-title {
        color: #fafaff;
        font-size: 52px;
        line-height: 52px;
        margin-bottom: 20px;
        text-align: left;
        font-weight: 600;
    }

    .exp-list {
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        .exp {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: $secondary-color;
            border: 1px solid $secondary-color;
            padding: 0px 30px;
            border-radius: 5px;
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;


            .exp_title {
                cursor: pointer;
                padding: 10px 0px 10px 0px;
                display: flex;
                flex-direction: row;
                -webkit-box-pack: start;
                justify-content: flex-start;
                -webkit-box-align: center;
                align-items: center;
                margin: 0px;
                position: relative;


                .work-designation {
                    padding: 10px 0px;
                    margin: 0px;
                    max-width: 100%;
                    text-align: left;
                    margin-bottom: 0;
                    margin-right: 15px;
                    color: #d1d1d1;
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: 400;
                    overflow: hidden;
                    transition: max-height 0.6s ease;
                }

                .work-name {
                    padding: 10px 0px;
                    margin: 0px;
                    font-size: 30px;
                    line-height: 24px;
                    color: $highlight-color;
                    font-weight: 300;
                }

                i {
                    color: white;
                    transform: rotate(-90deg);
                    font-size: 2.5rem;
                    padding: 10px 0px;
                    vertical-align: top;
                    position: absolute;
                    right: 0px;

                    transition: transform 0.6s;

                    &.show {
                        transform: none;
                    }
                }
            }

            .work-content {
                padding-top: 15px;

                &.show {
                    display: block;
                }

                .work-tenure {
                    margin-bottom: 12px;
                    color: #d1d1d1;
                    font-size: 16px;
                    margin: 0px;
                }

                .work-description {
                    color: #fafaff;
                    font-size: 16px;
                    margin: 0px;
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }

                .list {
                    columns: 4;
                    max-width: 80%;
                    color: rgb(48, 52, 63);
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    padding-inline-start: 40px;

                    li {
                        color: #fafaff;
                        margin-bottom: 5px;
                        position: relative;
                        display: list-item;
                        text-align: -webkit-match-parent;
                    }
                }
            }

            .exp__content {
                background-color: $secondary-color;
                overflow: hidden;
                transition: max-height 0.6s ease;
            }

        }
    }
}


@media (min-width: 1201px) and (max-width: 1600px) {
    .experience {
        padding: 0 10px 0px 30px;
        width: 70%;

        .exp-title {
            font-size: 40px;
            line-height: 40px;
        }

        .exp-list {
            .exp {
                padding: 0px 18px;

                .exp_title {

                    .work-designation {
                        margin-right: 5px;
                        font-size: 18px;
                        line-height: 18px;
                    }

                    .work-name {
                        font-size: 20px;
                        line-height: 20px;
                    }

                    i {
                        transform: rotate(-90deg);
                        font-size: 1.5rem;
                    }
                }

                .work-content {
                    padding-top: 5px;
                    padding-bottom: 15px;


                    .work-tenure {
                        margin-bottom: 10px;
                        font-size: 16px;
                        line-height: 22px;
                    }

                    .work-description {
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .list {
                        columns: 3;
                        max-width: 100%;

                    }
                }

                .exp__content {
                    overflow: none;
                }

            }
        }
    }

}

@media (min-width: 801px) and (max-width: 1200px) {
    .experience {
        padding: 0 10px 0px 30px;
        width: 75%;

        .exp-title {
            font-size: 40px;
            line-height: 40px;
        }

        .exp-list {
            .exp {
                padding: 0px 18px;

                .exp_title {

                    .work-designation {
                        margin-right: 5px;
                        font-size: 18px;
                        line-height: 18px;
                    }

                    .work-name {
                        font-size: 20px;
                        line-height: 20px;
                    }

                    i {
                        transform: rotate(-90deg);
                        font-size: 1.5rem;
                    }
                }

                .work-content {
                    padding-top: 5px;
                    padding-bottom: 15px;


                    .work-tenure {
                        margin-bottom: 10px;
                        font-size: 16px;
                        line-height: 22px;
                    }

                    .work-description {
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .list {
                        columns: 3;
                        max-width: 100%;

                    }
                }

                .exp__content {
                    overflow: none;
                }

            }
        }
    }
}


@media (min-width: 401px) and (max-width: 800px) {

    .experience {
        margin: 0 auto;
        padding: 0;
        width: 85%;

        .exp-title {
            font-size: 35px;
            line-height: 35px;
        }

        .exp-list {
            .exp {
                padding: 0px 18px;

                .exp_title {

                    .work-designation {
                        margin-right: 5px;
                        font-size: 18px;
                        line-height: 18px;
                    }

                    .work-name {
                        font-size: 20px;
                        line-height: 20px;
                    }

                    i {
                        transform: rotate(-90deg);
                        font-size: 1.0rem;
                    }
                }

                .work-content {
                    padding-top: 5px;
                    padding-bottom: 15px;


                    .work-tenure {
                        margin-bottom: 10px;
                        font-size: 16px;
                        line-height: 22px;
                    }

                    .work-description {
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .list {
                        columns: 2;
                        max-width: 100%;

                    }
                }

                .exp__content {
                    overflow: none;
                }

            }
        }
    }

}

@media (max-width: 400px) {
    .experience {
        margin: 0 auto;
        padding: 90px 10px 0px 10px;
        width: 90%;

        .exp-title {
            font-size: 40px;
            line-height: 40px;
        }

        .exp-list {
            .exp {
                padding: 0px 18px;

                .exp_title {

                    .work-designation {
                        margin-right: 5px;
                        font-size: 18px;
                        line-height: 18px;
                    }

                    .work-name {
                        font-size: 20px;
                        line-height: 20px;
                    }

                    i {
                        transform: rotate(-90deg);
                        font-size: 1.0rem;
                    }
                }

                .work-content {
                    padding-top: 5px;
                    padding-bottom: 15px;


                    .work-tenure {
                        margin-bottom: 10px;
                        font-size: 16px;
                        line-height: 22px;
                    }

                    .work-description {
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .list {
                        columns: 2;
                        max-width: 100%;

                    }
                }

                .exp__content {
                    overflow: none;
                }

            }
        }
    }

}