.projects {
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;

  .proj-title {
    color: #fafaff;
    font-size: 52px;
    line-height: 52px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 600;
  }

  .proj-list {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    .proj {
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
      padding: 0px 30px;
      border-radius: 5px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;


      .proj_title {
        cursor: pointer;
        padding: 10px 0px 10px 0px;
        display: flex;
        flex-direction: row;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        align-items: center;
        margin: 0px;
        position: relative;


        .proj-designation {
          padding: 10px 0px;
          margin: 0px;
          max-width: 100%;
          text-align: left;
          margin-bottom: 0;
          margin-right: 15px;
          color: #d1d1d1;
          font-size: 24px;
          line-height: 28px;
          font-weight: 400;
          overflow: hidden;
          transition: max-height 0.6s ease;

          span {
            font-size: 18px;
            color: $highlight-color;
            text-decoration: none;
          }

        }

        i {
          color: white;
          transform: rotate(-90deg);
          font-size: 2.5rem;
          padding: 10px 0px;
          vertical-align: top;
          position: absolute;
          right: 0px;

          transition: transform 0.6s;

          &.show {
            transform: none;
          }
        }
      }

      .proj-content {

        .proj-description {
          color: #fafaff;
          font-size: 16px;
          margin: 0px;
          display: block;
        }

        .proj-link {
          padding: 15px 0px;
          margin: 0px;

          .project-name {
            font-size: 20px;
            color: $highlight-color;
            text-decoration: none;
            padding: 0 10px;

            &:hover {
              color: darken($highlight-color, 10%);
            }
          }

        }

        .list {
          columns: 4;
          max-width: 80%;
          color: rgb(48, 52, 63);
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 40px;

          li {
            color: #fafaff;
            margin-bottom: 5px;
            position: relative;
            padding-left: 20px;
            display: list-item;
            text-align: -webkit-match-parent;
          }
        }
      }

      .proj__content {
        background-color: $secondary-color;
        overflow: hidden;
        transition: max-height 0.6s ease;
      }

    }
  }
}



@media (min-width: 1201px) and (max-width: 1600px) {
  .projects {

    padding: 90px 10px 40px 30px;
    width: 70%;

    .proj-title {
      font-size: 40px;
      line-height: 40px;
    }

    .proj-list {
      .proj {
        padding: 0px 18px;

        .proj_title {

          .proj-designation {
            margin-right: 5px;
            font-size: 18px;
            line-height: 25px;
          }

          .proj-name {
            font-size: 20px;
            line-height: 20px;
          }

          i {
            transform: rotate(-90deg);
            font-size: 1.5rem;
          }
        }

        .proj-content {
          padding-top: 5px;
          padding-bottom: 15px;

          .proj-description {
            font-size: 16px;
            line-height: 24px;
          }

          .list {
            columns: 2;
            max-width: 100%;

          }
        }

        .proj__content {
          overflow: none;
        }

      }
    }
  }

}

@media (min-width: 801px) and (max-width: 1200px) {
  .projects {

    padding: 90px 10px 40px 30px;
    width: 75%;

    .proj-title {
      font-size: 40px;
      line-height: 40px;
    }

    .proj-list {
      .proj {
        padding: 0px 18px;

        .proj_title {

          .proj-designation {
            margin-right: 5px;
            font-size: 18px;
            line-height: 25px;
          }

          .proj-name {
            font-size: 20px;
            line-height: 20px;
          }

          i {
            transform: rotate(-90deg);
            font-size: 1.5rem;
          }
        }

        .proj-content {
          padding-top: 5px;
          padding-bottom: 15px;

          .proj-description {
            font-size: 16px;
            line-height: 24px;
          }

          .list {
            columns: 2;
            max-width: 100%;

          }
        }

        .proj__content {
          overflow: none;
        }

      }
    }
  }
}



@media (min-width: 401px) and (max-width:800px) {
  .projects {

    margin: 0 auto;
    padding: 90px 0px 40px 0px;
    width: 85%;

    .proj-title {
      font-size: 35px;
      line-height: 35px;
    }

    .proj-list {
      .proj {
        padding: 0px 15px;

        .proj_title {

          .proj-designation {
            margin-right: 15px;
            font-size: 18px;
            line-height: 25px;
          }

          .proj-name {
            font-size: 20px;
            line-height: 20px;
          }

          i {
            transform: rotate(-90deg);
            font-size: 1.0rem;
          }
        }

        .proj-content {
          padding-top: 5px;
          padding-bottom: 15px;

          .proj-description {
            font-size: 16px;
            line-height: 24px;
          }

          .list {
            columns: 2;
            max-width: 100%;

          }
        }

        .proj__content {
          overflow: none;
        }

      }
    }
  }

}


@media (max-width: 400px) {
  .projects {
    padding: 90px 10px 40px 15px;
    width: 90%;

    .proj-title {
      font-size: 40px;
      line-height: 40px;
    }

    .proj-list {
      .proj {
        padding: 0px 18px;

        .proj_title {

          .proj-designation {
            margin-right: 5px;
            font-size: 18px;
            line-height: 25px;
          }

          .proj-name {
            font-size: 20px;
            line-height: 20px;
          }

          i {
            transform: rotate(-90deg);
            font-size: 1.0rem;
          }
        }

        .proj-content {
          padding-top: 5px;
          padding-bottom: 15px;

          .proj-description {
            font-size: 16px;
            line-height: 24px;
          }

          .list {
            columns: 2;
            max-width: 100%;

          }
        }

        .proj__content {
          overflow: none;
        }

      }
    }
  }

}