// ScrollBar

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px $secondary-color;
  border: solid 3px $secondary-color;
}

::-webkit-scrollbar-thumb {
  box-shadow: #ffffff;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 10px #a0a0a0;
  border: solid 3px transparent;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(212, 212, 212);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(212, 212, 212);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(212, 212, 212);
}

.index {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content {
  text-align: center;
  position: relative;
}