//Variables
$base-color: #252525;
$secondary-color: #414141;
$highlight-color: #E43F5A;

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: $base-color;
  font-family: 'Montserrat', "Raleway", "Quicksand", sans-serif;
  font-weight: 400;
}

// @import 'font-awesome/css/font-awesome.min.css';

//General
@import "./general.scss";
@import "./keyframes.scss";

//Components
@import "./components/header.scss";
@import "./components/layout.scss";
@import "./components/navdropdown.scss";
@import "./components/connect.scss";
@import "./components/experience.scss";
@import "./components/intro.scss";
@import "./components/stack.scss";
@import "./components/projects.scss";